@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.text-balance {
  text-wrap: balance;
}


@keyframes pulseBg {
  0% {
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  50% {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  100% {
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.glassEffect {
  animation: pulseBg 2s ease-in-out infinite;
}

.codeContainer::after {
  content: '|';
  display: inline-block;
  margin-left: 5px;
  animation: blinkCursor 1s steps(2, start) infinite;
}

@keyframes blinkCursor {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button:hover,
.windowControl:hover {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scrollingText {
  white-space: wrap;
  display: flex;
  animation: scrollText 10s linear infinite;
}





@media (min-width: 640px) {
  .sm\:px-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}



.viewer-container {
  padding: 16px;
  height: calc(100vh - 32px);
  /* Adjust based on your header/footer height */
  overflow: auto;
}

.pdf-viewer .rpv-core__viewer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}