@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-balance {
  text-wrap: balance;
}


@media (min-width: 640px) {
  .sm\:px-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
