@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-balance {
  text-wrap: balance;
}


@media (min-width: 640px) {
  .sm\:px-8 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Define default light mode variables */
:root {
  --meteor-core-color: rgba(255, 255, 255, 0.6);
  --meteor-tail-color: rgba(255, 255, 255, 0.3);
  --meteor-core-shadow: rgba(255, 255, 255, 0.8);
}

/* Define dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --meteor-core-color: rgba(209, 213, 219, 0.6); /* Dark mode core */
    --meteor-tail-color: rgba(209, 213, 219, 0.3); /* Dark mode tail */
    --meteor-core-shadow: rgba(209, 213, 219, 0.8); /* Dark mode shadow */
  }
}

